.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que fique acima do conteúdo */
}

.calendar-popup {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.calendar {
    margin-bottom: 20px;
}

.calendar-header {
    text-align: center;
    margin-bottom: 10px;
}

.day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 5px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.days div:hover {
    background-color: #f0f0f0;
}

.event-actions {
    display: flex;
    justify-content: space-around;
}

.event-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register-event {
    background-color: #4CAF50;
    color: white;
}

#edit-event {
    background-color: #008CBA;
    color: white;
}

#cancel-event {
    background-color: #f44336;
    color: white;
}